hr{
	background-color: #ee4b08;
	border-width: 4px;
	max-width: 60%;
}

@media only screen and (max-device-width: 530px) {
	hr{
	background-color: #ee4b08;
	border-width: 4px;
	max-width: 100%;
}

 .banner{
 	width: 100%
 }
    }